<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <%= link_to "Your Listing", rooms_path,class:"sidebarlist"%>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Your Reservations", reservations_path,class:"sidebarlist"%>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Your Trips", trips_path,class:"sidebarlist"%>
        </li>
    </ul>
</div>