<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= render "rooms/sidebar" %>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Photo Upload</h4>
                </div>
                <div class="card-body">
                        <%= link_to "Select Photos", "#",class:"btn btn-block w-25 mx-auto"%>
                        <br>
                        <%= link_to "Add Photos", "#",class:"btn btn-block w-25 mx-auto"%>
                </div>
            </div><%#card end%>            
        </div><%#col-9 end%>
    </div>
</div>