@import "bootstrap";
@import "font-awesome";
@import "toastr";

.signupbtn{
  color:white;
  background-color: rgb(253, 109, 133);
}

.signupbtn:hover{
  color:white;
  background-color: rgb(226, 109, 129);
}

.btn-login{
  background-color: rgb(163, 238, 232);
}

.btn-login:hover{
  background-color: rgb(63, 173, 164);
}

.btn-signup{
  background-color: rgb(129, 194, 255);
}

.btn-signup{
  background-color: rgb(177, 214, 248);
}

.btn-signup:hover{
  background-color: rgb(99, 146, 190);
}

.fbpic{
  width:40px;
}

.edit-card-header{
  background-color:  rgb(226, 109, 129);
}