@import "bootstrap";
@import "font-awesome";
@import "toastr";

.signupbtn{
  color:white;
  background-color: rgb(253, 109, 133);
}

.signupbtn:hover{
  color:white;
  background-color: rgb(226, 109, 129);
}

.reviewbtn{
  color:white;
  background-color: rgb(253, 109, 133);
}

.reviewbtn:hover{
  color:white;
  background-color: rgb(226, 109, 129);
}

.btn-login{
  background-color: rgb(163, 238, 232);
}

.btn-login:hover{
  background-color: rgb(63, 173, 164);
}

.btn-signup{
  background-color: rgb(129, 194, 255);
}

.btn-signup{
  background-color: rgb(177, 214, 248);
}

.btn-signup:hover{
  background-color: rgb(99, 146, 190);
}

.fbpic{
  width:40px;
}

.card-header{
  background-color:  rgb(133, 231, 205);
}

.wrong_color{
  color: rgb(226, 109, 129);
}

.correct_color{
  color: rgb(63, 173, 164);
}

/*room create layout*/

select{
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  content: '\25bc';
  font-size:1.2em;
  position: absolute;
  color:black;
  top:42px;
  right:30px;
  transform: scale(0.94,0.62);
}

.sidebarlist{
  color: rgb(17, 58, 58);
  text-decoration: none;

  &:hover{
    color: rgb(46, 150, 150);
    text-decoration: none;
  }
}



/*paginate*/

.paginate{
  nav {
    display: inline-block;
  }
}

.icons{
  color: rgb(46, 150, 150);
}

/*show.html amenities*/

.line_through{
  text-decoration: line-through;
}

/*google map*/

#map {
  position: relative;
  width: 100%;
  height: 400px;
}